<footer>
  <navbar-button (onClick)="onNavClick(routing.Dashboard)"
                 [active]="selectedRoute === routing.Dashboard"
                 icon="pi-home">
  </navbar-button>
  <navbar-button (onClick)="onNavClick(routing.Plates)"
                 [active]="selectedRoute === routing.Plates"
                 [badgeCounter]="plateQueueManagerService.notify | async"
                 [badged]="plateQueueManagerService.haveNotify"
                 icon="pi-inbox">
  </navbar-button>
  <navbar-button (onClick)="onNavClick(routing.Orders)"
                 [active]="selectedRoute === routing.Orders"
                 icon="pi-shopping-cart">
  </navbar-button>
  <navbar-button (onClick)="onNavClick(routing.Settings)"
                 [active]="selectedRoute === routing.Settings"
                 icon="pi-cog">
  </navbar-button>
</footer>

