@import "~primeng/resources/themes/lara-light-indigo/theme.css";

footer {
  height: 10vh;
  max-height: 10vh;

  background: var(--gray-400);
  border-top: var(--surface-700) 1px solid;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  navbar-button {
    width: calc(100% / 3);
  }
}
