@import 'mixins';

h3 {
  @include title-center;
}

main {
  height: 100%;
  width: 60%;

  display: block;
  margin: 0 auto;

  #plate-settings__container {
    display: flex;
    flex-direction: column;

    height: auto;
    overflow-y: auto;

    plate-info {
      height: 15%;

      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

}

form {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #confirmForm {
    width: 100%;

    display: inline-flex;
    justify-content: space-between;
  }
}

.stats_container {
  width: 100%;
  height: 60%;

  span {
    margin-top: 5%;
  }

  .stats_numbers_container {
    width: 70%;
    float: left;

    display: flex;
    flex-direction: column;

    .stats-range-date_row {
      margin-top: 5%;

      @include center-flex;
      justify-content: flex-start;

      label {
        text-transform: capitalize;
      }

      p-button {
        margin-top: 10px;
      }
    }

    #stats-title {
      text-transform: capitalize;
      font-size: 25px;
      font-weight: bold;
    }

    #stats-total-count {
      text-transform: uppercase;
      font-size: 40px;
      font-weight: bold;
      margin-top: 5%;
    }

    .counter {
      font-size: 60px;
      font-weight: bold;
      border-bottom: 1px solid #0d91e8;
      width: 70%;
      margin: 2% 0 0;
    }

    .empty {
      border-bottom: 1px solid #0d91e8;
      margin: 5% 0;
      font-weight: 100;
    }
  }

  .pie_container {
    width: 30%;
    float: right;

    height: 100%;
    @include center-flex;
  }
}
