@import 'mixins';

h3 {
  @include title-center;

  position: relative;

  button {
    position: absolute;
    right: 10%;
    z-index: 1000;

    width: 200px;
    height: 45px;

    font-size: 14px;
    background-color: transparent;
    transition: background-color 500ms linear;

    padding: 10px;
    border: 3px solid var(--primary-500);
    border-radius: 10px;

    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;

      &:after {
        content: '\00bb';
        position: absolute;
        transform: rotate(90deg);
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
    }

    p-badge {
      position: absolute;
      top: -10px;
      right: -10px;
    }

    &:hover {
      cursor: pointer;

      span {
        padding-right: 25px;

        &:after {
          opacity: 1;
          right: 0;
        }
      }
    }
  }

  .button__active-overlay {

    background-color: var(--primary-100);
    transition: background-color 500ms linear;

    span {
      padding-right: 25px;

      &:after {
        content: '\00bb';
        transform: rotate(-90deg);
        opacity: 1;
        top: 0;
        right: 0;
      }
    }
  }

  items-overlay {
    height: 210px;
    width: 40%;
    margin: 0;

    position: absolute;
    right: 10%;
    top: 56px;
    z-index: 1000;

    font-weight: 100;
    font-size: 16px;

    ::ng-deep section {
      border: 1px solid black;
    }
  }
}

.plates-carousel {
  overflow-y: hidden;
  overflow-x: hidden;

  height: 90%;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;

  position: relative;

  plate {
    height: 90%;
    flex-basis: 33%;
  }

  .carousel-button {
    height: 50px;
    width: 50px;

    position: absolute;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px transparent;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
    user-select: none;
    transition: all 0.5s ease;

    i {
      color: white;
    }

    [hidden] {
      display: none !important;
    }

  }

  #carousel__previous-page {
    left: 0;

    &:hover {
      left: 10px;
      background-color: var(--primary-500);
      cursor: pointer;
    }
  }

  #carousel__next-page {
    right: 0;

    &:hover {
      right: 10px;
      background-color: var(--primary-500);
      cursor: pointer;
    }
  }
}

.carousel__next-page-event {
  right: 10px !important;
  background-color: var(--primary-500) !important;
}

.carousel__left-page-event {
  left: 10px !important;
  background-color: var(--primary-500) !important;
}

.plates-options__container {
  position: absolute;
  top: 56px;
  left: 90%;
  right: 1%;
  z-index: 1000;

  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 100;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;

  span {
    width: 100%;
    padding: 5px;

    label {
      margin-left: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: gainsboro;
      border: 1px solid black;
      border-radius: 5px;
    }
  }
}
