<h3>
  <span>{{i18n.PLATE.TITLE}}</span>
  <button (click)="toggleNoQueuedItemsOverlay()"
          [ngClass]="showOverlay ? 'button__active-overlay' : ''">
    <span>Ordini non assegnati</span>
    <p-badge *ngIf="unassignedItems.length > 0" [value]="unassignedItems.length + ''"></p-badge>
  </button>
  <ng-container *ngIf="showOverlay" [ngTemplateOutlet]="overlay"></ng-container>
  <ng-container *ngIf="showPlateList" [ngTemplateOutlet]="plate_overlay"></ng-container>
</h3>
<div class="plates-carousel">
  <button (click)="onPreviousPage()"
          (mouseleave)="hidePrevious = true"
          (mouseover)="hidePrevious = false"
          [hidden]="hidePrevious"
          *ngIf="currentPage !== 0"
          class="carousel-button"
          id="carousel__previous-page">
    <i [hidden]="hidePrevious" class="pi pi-angle-left"></i>
  </button>
  <ng-container *ngFor="let plate of plateList.slice(currentPage * DISPLAY_CHUNK,
                                                     currentPage * DISPLAY_CHUNK + DISPLAY_CHUNK)">
    <plate (onNew)="onNewPlate($event)"
           (onItemEvent)="handleItemEvent($event)"
           [config]="plate"
           [plateList]="getEnabledPlateList(plate)"
           [queue]="plateQueueManagerService.getQueue(plate._id!)">
    </plate>
  </ng-container>
  <button (click)="onNextPage()"
          (mouseleave)="hideNext = true"
          (mouseover)="hideNext = false"
          [hidden]="hideNext"
          *ngIf="(currentPage + 1) !== totalPages"
          class="carousel-button"
          id="carousel__next-page">
    <i [hidden]="hideNext" class="pi pi-angle-right"></i>
  </button>
</div>
<div *ngIf="totalPages > 0" id="paginator">
  <span *ngFor="let p of pages" [ngClass]="p == currentPage ? 'active' : ''" class="circle"></span>
</div>
<ng-template #overlay>
  <items-overlay (onRun)="onUnassignedRun($event)"
                 [hideCloseButton]="true"
                 [items]="unassignedItems">
  </items-overlay>
</ng-template>
<ng-template #plate_overlay>
  <div class="plates-options__container">
      <span (click)="onUnassignedExecuteRun(p)"
            *ngFor="let p of getEnabledPlateList(null)">
        <label>{{p.name}}</label>
      </span>
  </div>
</ng-template>
