<h3>{{i18n.PLATE.TITLE}}</h3>
<div class="plates-carousel">
  <button (click)="onPreviousPage()"
          (mouseleave)="hidePrevious = true"
          (mouseover)="hidePrevious = false"
          [hidden]="hidePrevious"
          *ngIf="currentPage !== 0"
          class="carousel-button carousel__previous-page">
    <i [hidden]="hidePrevious" class="pi pi-angle-left"></i>
  </button>
  <ng-container *ngFor="let plate of plateList.slice(currentPage * DISPLAY_CHUNK,
                                                     currentPage * DISPLAY_CHUNK + DISPLAY_CHUNK)">
    <plate (onNew)="onNewPlate($event)"
           (onItemEvent)="handleItemEvent($event)"
           [config]="plate"
           [queue]="plateQueueManagerService.getQueue(plate._id!)">
    </plate>
  </ng-container>
  <button (click)="onNextPage()"
          (mouseleave)="hideNext = true"
          (mouseover)="hideNext = false"
          [hidden]="hideNext"
          *ngIf="(currentPage + 1) !== totalPages"
          class="carousel-button carousel__next-page">
    <i [hidden]="hideNext" class="pi pi-angle-right"></i>
  </button>
</div>

