<div class="flex flex-row justify-content-between column-gap-3">
    <div class="flex-column menu-item-choice">
    <h3>Add Burgers</h3>
      <form [formGroup]="form!" class="ml-2 mr-2">
      <div class="flex flex-row mt-4">
        <div class="field col-4 ml-3">
          <label for="orderNumber">Order Number</label>
          <p-inputNumber [max]="1000"
                         [min]="0"
                         [showButtons]="true"
                         [inputStyle]="{'width': '100px'}"
                         formControlName="orderNumber"
                         id="orderNumber"
                         class="ml-4"
          ></p-inputNumber>
        </div>
        <div class="field col-4 ml-3">
          <label for="tableNumber">Table Number</label>
          <p-inputNumber [max]="1000"
                         [min]="0"
                         [showButtons]="true"
                         [inputStyle]="{'width': '100px'}"
                         formControlName="tableNumber"
                         id="tableNumber"
                         class="ml-4"
          ></p-inputNumber>
        </div>
        <div class="field col-4 ml-3">
          <label for="tableNumber">Client Name</label>
          <input pInputText type="text" id="clientName" formControlName="clientName" placeholder="Client Name" class="ml-4" />
        </div>
      </div>

      <p-tabView *ngIf="categories.length">
        <p-tabPanel [header]="category.name" *ngFor="let category of categories; let i = index" [selected]="i == 0">
          <div class="grid">
            <ng-container *ngFor="let item of category.menuItems">
              <p-card [header]="item.name!"
                      [ngClass]="{'menu-item-selection': item.selected}"
                      (click)="selectMenuItem($event, item)"
                      class="menu-item-card col-4"
                      pDraggable="ddOrders"
                      (onDragStart)="dragStart(item)"
                      (onDragEnd)="dragEnd()"
              >
                <p>{{item.description}}</p>
              </p-card>
            </ng-container>
          </div>
        </p-tabPanel>
      </p-tabView>
      </form>
  </div>

  <!-- summary -->
  <div class="flex-column" pDroppable="ddOrders" (onDrop)="drop()">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <button pButton pRipple label="Save" icon="pi pi-plus" class="p-mr-2 mr-2" (click)="savePkmis()" [disabled]="form?.invalid"></button>
        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedProducts()"
                [disabled]="!selectedPlateMenuItems || !selectedPlateMenuItems.length"></button>
        <p-splitButton label="Plate" icon="pi pi-plus" [model]="platesAction" [disabled]="!selectedPlateMenuItems || !selectedPlateMenuItems.length"></p-splitButton>
      </ng-template>
    </p-toolbar>

    <p-table #dt
             [value]="plateMenuItems" [(selection)]="selectedPlateMenuItems" dataKey="id" styleClass="p-datatable-orders"
             [rowHover]="true"
             [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
             [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [filterDelay]="0"
             editMode="row"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox [disabled]="!plateMenuItems.length"></p-tableHeaderCheckbox>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Menu Item
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Category
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Plate
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Notes
            </div>
          </th>
          <th style="width:8rem"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-plateMenuItem let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="plateMenuItem" class="p-selectable-row">
          <td>
            <p-tableCheckbox [value]="plateMenuItem"></p-tableCheckbox>
          </td>
          <td>
            <span class="image-text">{{plateMenuItem.menuItem.name}}</span>
          </td>
          <td>
            <span class="category-badge" [style]="{'border-color': getCategoryColor(plateMenuItem.menuItem.category)}">
              {{plateMenuItem.menuItem.category.name}}
            </span>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown [options]="platesOptions" [(ngModel)]="plateMenuItem.plate" [style]="{'width':'100%'}"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                <span class="plate-badge" [style]="{'background-color': getPlateColor(plateMenuItem.plate)}">{{plateMenuItem.plate}}</span>
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="plateMenuItem.notes">
              </ng-template>
              <ng-template pTemplate="output">
                {{plateMenuItem.notes}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align:center">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                    (click)="onRowEditInit(plateMenuItem)" class="p-button-rounded p-button-text"
            ></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                    (click)="onRowEditSave(plateMenuItem)" class="p-button-rounded p-button-text p-button-success p-mr-2"
            ></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                    (click)="onRowEditCancel(plateMenuItem, ri)" class="p-button-rounded p-button-text p-button-danger"
            ></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No plate menu item added.</td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
