@import 'mixins';

h3 {
  @include title-center;
}

.menu-item-choice {
  width: 55%;
}

.menu-item-card {
  ::ng-deep .p-card {
    :hover {
      cursor: pointer;
    }
  }
}

.menu-item-selection {
  ::ng-deep .p-card {
    background-color: blue;
    color: white;
  }
}

.plate-badge {
  @include badge;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.category-badge {
  @include badge;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  border: 2px solid;
}

.p-datatable-orders {
  .p-datatable-header {
    padding: 1rem;
    text-align: left;
    font-size: 1.5rem;
  }

  .p-paginator {
    padding: 1rem;
  }

  .p-datatable-thead > tr > th {
    text-align: left;
  }

  .p-datatable-tbody > tr > td {
    cursor: auto;
  }

  .p-dropdown-label:not(.p-placeholder) {
    text-transform: uppercase;
  }

  .p-datatable-orders .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}
