<p-toast></p-toast>
<h3>Creazione Nuovo Ordine</h3>

<!-- Form header -->
<div class="order-header-form">
  <form [formGroup]="form!">
    <div class="form-fields">
      <div class="field">
        <label for="orderNumber">Numero Ordine</label>
        <p-inputNumber 
          [max]="1000"
          [min]="0"
          [showButtons]="true"
          formControlName="orderNumber"
          id="orderNumber"
        ></p-inputNumber>
      </div>
      <div class="field">
        <label for="tableNumber">Numero Tavolo</label>
        <input pInputText type="text" id="tableNumber" formControlName="tableNumber" placeholder="Tavolo" />
      </div>
      <div class="field">
        <label for="clientName">Nome Cliente</label>
        <input pInputText type="text" id="clientName" formControlName="clientName" placeholder="Cliente" />
      </div>
    </div>
  </form>
</div>

<div class="content-layout">
  <!-- Menu items selection -->
  <div class="menu-selection-panel">
    <form [formGroup]="form!">

    <p-tabView *ngIf="categories.length">
      <p-tabPanel [header]="category.name" *ngFor="let category of categories; let i = index" [selected]="i == 0">
        <div class="menu-items-grid">
          <ng-container *ngFor="let item of category.menuItems">
            <div class="menu-item-card"
                 [class.selected]="item.selected"
                 (click)="selectMenuItem($event, item)"
                 pDraggable="ddOrders"
                 (onDragStart)="dragStart(item)"
                 (onDragEnd)="dragEnd()">
              <div class="menu-item-header">{{item.name}}</div>
              <div class="menu-item-description">{{item.description}}</div>
            </div>
          </ng-container>
        </div>
      </p-tabPanel>
    </p-tabView>
    </form>
  </div>

  <!-- Order summary table -->
  <div class="order-summary-panel" pDroppable="ddOrders" (onDrop)="drop()">
    <div class="table-toolbar">
      <button pButton pRipple label="Salva" icon="pi pi-plus" class="p-button-success" (click)="savePkmis()" [disabled]="form?.invalid"></button>
      <button pButton pRipple label="Cancella" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()"
              [disabled]="!selectedPlateMenuItems || !selectedPlateMenuItems.length"></button>
      <p-splitButton label="Seleziona Piastra" icon="pi pi-plus" [model]="platesAction" [disabled]="!selectedPlateMenuItems || !selectedPlateMenuItems.length"></p-splitButton>
    </div>

    <p-table #dt
             [value]="plateMenuItems" 
             selectionMode="multiple"
             [(selection)]="selectedPlateMenuItems" 
             dataKey="id" 
             styleClass="p-datatable-orders"
             [rowHover]="true"
             [filterDelay]="0"
             editMode="row"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox [disabled]="!plateMenuItems.length"></p-tableHeaderCheckbox>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Prodotto
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Categoria
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Piastra
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Note
            </div>
          </th>
          <th style="width:8rem"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-plateMenuItem let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="plateMenuItem">
          <td (click)="$event.stopPropagation()">
            <p-tableCheckbox [value]="plateMenuItem" [index]="ri"></p-tableCheckbox>
          </td>
          <td>
            <span class="image-text">{{plateMenuItem.menuItem.name}}</span>
          </td>
          <td>
            <span class="category-badge" [style]="{'border-color': getCategoryColor(plateMenuItem.menuItem.category)}">
              {{plateMenuItem.menuItem.category.name}}
            </span>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown [options]="platesOptions" [(ngModel)]="plateMenuItem.plate" [style]="{'width':'100%'}"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                <span class="plate-badge" [style]="{'background-color': getPlateColor(plateMenuItem.plate)}">{{plateMenuItem.plate}}</span>
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="plateMenuItem.notes">
              </ng-template>
              <ng-template pTemplate="output">
                {{plateMenuItem.notes}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align:center">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                    (click)="onRowEditInit(plateMenuItem)" class="p-button-rounded p-button-text"
            ></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                    (click)="onRowEditSave(plateMenuItem)" class="p-button-rounded p-button-text p-button-success p-mr-2"
            ></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                    (click)="onRowEditCancel(plateMenuItem, ri)" class="p-button-rounded p-button-text p-button-danger"
            ></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Nessun prodotto aggiunto.</td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
