@import "mixins";

section {
  width: 97%;
  height: 200px;

  margin: auto;

  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;

  border: 1px solid white;
  border-radius: 5px;

  .exit-button {
    height: 10px;
    width: 26px;

    position: absolute;
    top: -10px;
    right: 0;
  }

  p {
    @include title-center();

    font-weight: bold;
    margin-bottom: 5px;
  }

  .items-overlay__rows-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 10px;

    ::ng-deep {
      .items-overlay__row {
        display: flex;
        justify-content: space-around;
        align-items: center;

        padding: 10px;
        text-transform: uppercase;

        background-color: gainsboro;
        border: 1px solid gainsboro;
        border-radius: 10px;
        width: 95%;
        margin: auto;

        .play-button {
          height: 10px;
        }
      }
    }
  }

  .items-overlay__empty-container {
    height: 100%;

    @include center-flex;
    flex-direction: column;

    h3 {
      text-transform: uppercase;
    }

    i {
      font-size: 3rem;
    }
  }
}
