<section>
  <ng-container *ngFor="let category of categories$ | async">
    <button [style.--category-color]="category.color"
            [ngClass]="{'active': activeCategory === category.id}"
            (click)="onCategoryClick(category)">
      <span class="title">{{category.name}}</span>
      <span>{{category.description}}</span>
    </button>
  </ng-container>
  <button id="skeleton"
          (click)="create.emit()">
    <i class="pi pi-plus"></i>
    <span>Aggiungi categoria</span>
  </button>
</section>
