@import 'mixins';

h3 {
  @include title-center;
}

:host ::ng-deep {
  .table-header {
    display: flex;
    justify-content: space-between;
  }

  .p-datatable.p-datatable-orders {
    .p-datatable-header {
      padding: 1rem;
      text-align: left;
      font-size: 1.5rem;
    }

    .p-paginator {
      padding: 1rem;
    }

    .p-datatable-thead > tr > th {
      text-align: left;
    }

    .p-datatable-tbody > tr > td {
      cursor: auto;
    }

    .p-dropdown-label:not(.p-placeholder) {
      text-transform: uppercase;
    }

    .p-datatable-orders .p-datatable-tbody > tr > td .p-column-title {
      display: none;
    }
  }
}
