<p-toast></p-toast>

<p-toolbar styleClass="p-mb-4">
  <ng-template pTemplate="left">
    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedOrders || !selectedOrders.length"></button>

    <!-- New order (version 2)-->
    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" (click)="addOrder()"></button>
  </ng-template>
</p-toolbar>

<p-table #dt
         [value]="orders" [(selection)]="selectedOrders" dataKey="_id" styleClass="p-datatable-orders"
         [rowHover]="true"
         [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
         [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [filterDelay]="0"
         [globalFilterFields]="['orderId','menuItem.name','menuItem.category.name','status','plate.name']"
>
  <ng-template pTemplate="caption">
    <div class="table-header">
      List of Orders
      <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="filterGlobal($event)" placeholder="Global Search" />
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>
      <th pSortableColumn="orderId">
        <div class="p-d-flex p-jc-between p-ai-center">
          Number
          <p-sortIcon field="orderId"></p-sortIcon>
          <p-columnFilter  type="numeric" field="orderId" display="menu"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="menuItem.name">
        <div class="p-d-flex p-jc-between p-ai-center">
          Menu Item
          <p-sortIcon field="menuItem.name"></p-sortIcon>
          <p-columnFilter type="text" field="menuItem.name" display="menu"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="menuItem.category.name">
        <div class="p-d-flex p-jc-between p-ai-center">
          Category
          <p-sortIcon field="menuItem.category.name"></p-sortIcon>
          <p-columnFilter type="text" field="menuItem.category.name" display="menu"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="date">
        <div class="p-d-flex p-jc-between p-ai-center">
          Date
          <p-sortIcon field="date"></p-sortIcon>
          <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="status">
        <div class="p-d-flex p-jc-between p-ai-center">
          Status
          <p-sortIcon field="status"></p-sortIcon>
          <p-columnFilter field="status" matchMode="equals" display="menu">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                          placeholder="Any">
                <ng-template let-option pTemplate="item">
                  <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="plate.name">
        <div class="p-d-flex p-jc-between p-ai-center">
          Plate
          <p-sortIcon field="plate.name"></p-sortIcon>
          <p-columnFilter type="text" field="plate.name" display="menu"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="notes">
        <div class="p-d-flex p-jc-between p-ai-center">
          Notes
          <p-sortIcon field="notes"></p-sortIcon>
          <p-columnFilter type="text" field="notes" display="menu"></p-columnFilter>
        </div>
      </th>
      <th style="width: 8rem"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-order>
    <tr class="p-selectable-row">
      <td>
        <p-tableCheckbox [value]="order"></p-tableCheckbox>
      </td>
      <td>
        <span class="p-column-title">Number</span>
        {{order.orderId}}
      </td>
      <td>
        <span class="p-column-title">Menu Item</span>
        <span class="image-text">{{order.menuItem.name}}</span>
      </td>
      <td>
        <span class="p-column-title">Category</span>
        <span class="image-text">{{order.menuItem.category.name}}</span>
      </td>
      <td>
        <span class="p-column-title">Date</span>
        {{order.date}}
      </td>
      <td>
        <span class="p-column-title">Status</span>
        <span [class]="'order-badge status-' + order.status">{{order.status}}</span>
      </td>
      <td>
        <span class="p-column-title">Plate</span>
        <span [class]="'order-badge status-' + order.plate?.name">{{order.plate?.name}}</span>
      </td>
      <td>
        <span class="p-column-title">Notes</span>
        <span class="image-text">{{order.notes}}</span>
      </td>
      <td>
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editOrder(order)"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteOrder(order)"></button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="9">No orders found.</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="orderDialog" [style]="{width: '450px', height: '700px'}" header="Order Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="orderId">Number</label>
      <p-inputNumber [max]="1000"
                     [min]="0"
                     [showButtons]="true"
                     id="orderId"
                     [(ngModel)]="currentOrder.orderId"
      ></p-inputNumber>
      <small class="p-invalid" *ngIf="submitted && !currentOrder.orderId">Id is required.</small>
    </div>
    <div class="p-field">
      <label for="menuItem">Menu Item</label>
      <p-treeSelect id="menuItem"
        [(ngModel)]="currentOrder.menuItem"
        [options]="menuItems"
        [metaKeySelection]="false"
        placeholder="Select Menu Item"
        [filter]="true"
        [filterInputAutoFocus]="true"
        scrollHeight="300px"
      ></p-treeSelect>
      <small class="p-invalid" *ngIf="submitted && !currentOrder.orderId">Id is required.</small>
    </div>
    <div class="p-field">
      <label for="quantity">Quantity</label>
      <p-inputNumber id="quantity" [(ngModel)]="currentOrder.quantity"></p-inputNumber>
    </div>
    <div class="p-field">
      <label for="plate">Plate</label>
      <p-dropdown id="plate" [options]="platesOptions" [(ngModel)]="currentOrder.plate" optionLabel="name"></p-dropdown>
    </div>
    <div class="p-field">
      <label for="notes">Notes</label>
      <textarea id="notes" pInputTextarea [(ngModel)]="currentOrder.notes" required rows="3" cols="20"></textarea>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveOrder()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
