<div class="item_container" 
     [class.expanded]="readonly"
     [class.delay-warning]="delaySeverity === 'warning'"
     [class.delay-danger]="delaySeverity === 'danger'">
  <p-tag *ngIf="delayMinutes > 0 && showDelay"
         class="item-delay-badge"
         [severity]="delaySeverity"
         [value]="'⏱ ' + getDelayLabel()"
         [pTooltip]="i18n.ITEM.IN_PROGRESS_SINCE + ' ' + getDelayLabel()"
         tooltipPosition="top"></p-tag>
  
  <!-- Icona asporto per vista espansa -->
  <img src="assets/img/takeaway.png" 
       *ngIf="config.takeAway && readonly" 
       class="takeaway-icon"
       [pTooltip]="i18n.ITEM.TAKEAWAY_ORDER"
       tooltipPosition="top">
  
  <span class="item_title">
    {{config.menuItem.name}}
  </span>
  <span class="item_order" *ngIf="!readonly">
    #{{config.orderNumber}} - T: {{config.tableNumber}}
  </span>
  <span class="item_order_exp" *ngIf="readonly">
    #{{config.orderNumber}} - T: {{config.tableNumber}}
  </span>
  <span class="item_note">{{ getNotes(config) }}</span>
  <span class="item_actions" *ngIf="!readonly">
    <img src="assets/img/takeaway.png" 
         *ngIf="config.takeAway" 
         class="takeaway-icon"
         [pTooltip]="i18n.ITEM.TAKEAWAY_ORDER"
         tooltipPosition="top">
    <button (click)="onDone()"
            class="p-button-rounded p-button-text p-button-success"
            icon="pi pi-check"
            pButton
            pRipple></button>
    <button (click)="toggleOverlay()"
            class="p-button-rounded p-button-text"
            icon="pi pi-ellipsis-v"
            pButton
            pRipple></button>
    <ng-container *ngIf="deleteOverlay" [ngTemplateOutlet]="overlay"></ng-container>
  </span>
  
  <!-- Pulsante spostamento rapido per vista espansa -->
  <span class="item_quick_move" *ngIf="readonly && currentPlate?.quickMoveEnabled && currentPlate?.quickMoveTargetPlateId">
    <button (click)="onQuickMove()"
            class="p-button-rounded p-button-text p-button-warning quick-move-button"
            icon="pi pi-arrow-right"
            [pTooltip]="'Sposta in ' + getTargetPlateName()"
            tooltipPosition="top"
            pButton
            pRipple></button>
  </span>

  <!-- Pulsante done per vista espansa -->
  <span class="item_done_expanded" *ngIf="readonly && currentPlate?.expandedDoneButtonEnabled">
    <button (click)="onDone()"
            class="p-button-rounded p-button-text p-button-success"
            icon="pi pi-check"
            [pTooltip]="i18n.ITEM.DONE"
            tooltipPosition="top"
            pButton
            pRipple></button>
  </span>
</div>
<ng-template #overlay>
  <div class="delete-options__container">
    <ng-container *ngIf="!showPlateList">
      <span class="info-option">
        <i class="pi pi-info-circle"></i>
        <div class="info-details">
          <div><strong>{{i18n.ITEM.DATE}}:</strong> {{config.createdDate}}</div>
          <div><strong>Tavolo:</strong> {{config.tableNumber}}</div>
          <div><strong>Cliente:</strong> {{config.clientName}}</div>
          <div><strong>{{i18n.ITEM.ORDER}}:</strong> {{config.orderNumber}}</div>
        </div>
      </span>
      <span (click)="opt.command!()" *ngFor="let opt of deleteOptions" class="action-option">
        <i [class]="opt.icon"></i>
        <label>{{opt.label}}</label>
      </span>
    </ng-container>
    <ng-container *ngIf="showPlateList">
      <span (click)="onPlateMoved(p)" *ngFor="let p of plateList" class="plate-option">
        <label>{{p.name}}</label>
      </span>
    </ng-container>
  </div>
</ng-template>
