<div class="item_container">
  <div class="img_container">
    <div class="ellipse"></div>
    <i class="pi pi-apple"></i>
  </div>
  <span class="item_title">panino</span>
  <span class="item_order">ordine 10</span>
  <span class="item_note">
    <ul>
      <li>+ ketchup</li>
      <li>+ maionese</li>
    </ul>
  </span>
  <span class="item_actions">
    <button class="p-button-rounded p-button-text p-button-success" icon="pi pi-check" pButton pRipple></button>
    <button class="p-button-rounded p-button-text p-button-danger" icon="pi pi-trash" pButton pRipple></button>
  </span>
</div>
