<p-toast></p-toast>
<h3>Gestione Menù</h3>
<section>
  <category [categories]="(categories$ | async)!"
            [active]="selectedCategory"
            (selected)="onCategorySelect($event)"
            (create)="onCategoryCreate()">
  </category>
  <div id="right-panel" *ngIf="selectedCategory">
    <div id="action-button_container">
      <button pButton pRipple label="Aggiungi a Catalogo"
              icon="pi pi-plus"
              class="p-button-info ml-2"
              (click)="onMenuItemCreate()">
      </button>
      <button pButton pRipple label="Elimina Categoria"
              icon="pi pi-trash"
              class="p-button-danger ml-2"
              (click)="deleteCategory()">
      </button>
      <button pButton pRipple label="Modifica Categoria"
              icon="pi pi-pencil"
              class="p-button ml-2"
              (click)="editCategory()">
      </button>
    </div>
    <menu-item-list
      [items]="(items$ | async)!"
      [categoryName]="selectedCategory?.name!"
      (edit)="onMenuItemEdit($event)"
      (delete)="onMenuItemDelete($event)">
    </menu-item-list>
  </div>
</section>
<p-dialog header="Creazione Categoria"
          [style]="{height: '80vh'}"
          [(visible)]="categoryDisplay"
          [draggable]="false">
  <form (ngSubmit)="onCategorySubmit()" [formGroup]="categoryForm!">
    <label>Nome</label>
    <input formControlName="name"
           pInputText
           type="text">
    <label>Descrizione</label>
    <input formControlName="description"
           pInputText
           type="text">
    <label>Colore</label>
    <p-colorPicker [inline]="true" formControlName="color"></p-colorPicker>
    <label>Identificativo esterno</label>
    <input formControlName="externalId"
           pInputText
           type="number">
    <div class="confirm-form">
      <button (click)="discardCategoryForm()"
              [label]="i18n.COMMON.UNDO"
              class="p-button-secondary" pButton pRipple
              type="button"></button>
      <button [disabled]="categoryForm?.valid ? !categoryForm?.valid : true"
              [label]="i18n.COMMON.SAVE"
              class="p-button-success" pButton pRipple
              type="submit"></button>
    </div>
  </form>
</p-dialog>
<p-dialog header="Aggiungi Prodotto"
          [style]="{height: '50vh'}"
          [(visible)]="menuItemDisplay"
          [draggable]="false">
  <form (ngSubmit)="onMenuItemSubmit()" [formGroup]="menuItemForm!">
    <label>Nome</label>
    <input formControlName="name"
           pInputText
           type="text">
    <label>Descrizione</label>
    <input formControlName="description"
           pInputText
           type="text">
    <p class="form-category_title">Categoria: <span>{{selectedCategory?.name}}</span></p>
    <label>Identificativo esterno</label>
    <input formControlName="externalId"
           pInputText
           type="number">
    <div class="confirm-form">
      <button (click)="discardMenuItemForm()"
              [label]="i18n.COMMON.UNDO"
              class="p-button-secondary" pButton pRipple
              type="button"></button>
      <button [disabled]="menuItemForm?.valid ? !menuItemForm?.valid : true"
              [label]="i18n.COMMON.SAVE"
              class="p-button-success" pButton pRipple
              type="submit"></button>
    </div>
  </form>
</p-dialog>
<p-confirmDialog header="Conferma eliminazione"
                 icon="pi pi-exclamation-triangle"
                 acceptLabel="Si"
                 rejectLabel="No">
</p-confirmDialog>
