@import "mixins";

h3 {
  @include title-center;
}

section {

  display: flex;
  height: 90%;

  category {
    width: 30%;
    overflow-y: auto;
    border-right: 1px solid rgba(96, 96, 96, 1);
  }

  div#right-panel {
    width: 70%;
    overflow-y: auto;

    #action-button_container {
      height: 10%;

      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;

      position: relative;

      button {
        margin: 0 10px;
      }

      & > button:first-of-type {
        position: absolute;
        left: 0;
      }
    }

    menu-item-list {
      height: 90%;
    }
  }

}

form {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .confirm-form {
    width: 100%;

    display: inline-flex;
    justify-content: space-between;
  }

  .form-category_title {
    text-transform: capitalize;
    font-size: 16px;

    span {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

