@import "~primeng/resources/themes/lara-light-indigo/theme.css";

button {
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

  background: none;
  border: none;

  i {
    font-size: 2rem;
  }

  &:hover {
    cursor: pointer;
    background: var(--orange-200);

    i {
      color: var(--orange-700);
      font-weight: bold;
    }
  }
}

.active {
  background: var(--orange-200);
}
