<ng-container [ngSwitch]="config?.mode">
  <section *ngSwitchCase="plateMode.Skeleton" class="skeleton">
    <button (mouseenter)="onMouseEnter()"
            (mouseleave)="onMouseLeave()"
            (click)="loadForm()"
            id="add-plate">
      <i [class]="'pi ' + icon"></i>
    </button>
  </section>
  <section *ngSwitchCase="plateMode.On" class="on">
    <header [style.backgroundColor]="config.color!" [class.expanded]="!showExpand">
      <div class="header-content">
        <h3>{{config.name}}</h3>
        <div class="header-badges">
          <p-tag *ngIf="maxDelayMinutes > 0"
                 [severity]="delaySeverity"
                 [pTooltip]="getDelayTooltip()"
                 tooltipPosition="bottom">
            <i class="pi pi-clock delay-icon"></i>
            <span>{{ getDelayLabel() }}</span>
          </p-tag>
          <p-tag [severity]="config._severity!"
                 [value]="config._status!"
                 [style.display]="'none'"></p-tag>
        </div>
      </div>
      
      <button *ngIf="!showExpand"
              [pTooltip]="viewMode === 'rows' ? 'Vista Colonne' : 'Vista Righe'" 
              tooltipPosition="bottom"
              class="view-mode-button" 
              [class.active]="viewMode === 'columns'"
              (click)="onViewMode()">
        <i [class]="viewMode === 'rows' ? 'pi pi-pause' : 'pi pi-list'"></i>
      </button>
      
      <button (click)="expandTab()"
              *ngIf="showExpand"
              [pTooltip]="'Espandi ' + config.name"
              [showDelay]="500"
              tooltipPosition="bottom"
              class="expand-button">
        <i class="pi pi-external-link"></i>
      </button>
    </header>
    <span *ngIf="config._severity !== 'danger' && progressItems.length == 0" id="empty-container">
      <h3>{{i18n.PLATE.EMPTY}}</h3>
      <i class="pi pi-inbox" id="empty"></i>
    </span>
    <div *ngIf="!(queue?.isEmpty$ | async)" 
         class="item-list_container" 
         [ngClass]="{
           'rows': viewMode === 'rows', 
           'columns': viewMode === 'columns',
           'expanded-view': readonly
         }">
      <ng-container *ngFor="let item of progressItems">
        <item (onCancelEvent)="handleItemEvent($event)"
              (onDoneEvent)="handleItemEvent($event)"
              [config]="item"
              [plateList]="plateList"
              [readonly]="readonly"
              [showDelay]="!showExpand || showItemDelays"
        ></item>
      </ng-container>
    </div>
    <ng-container *ngIf="showSortOverlay" [ngTemplateOutlet]="sortingOverlay"></ng-container>
    <button pButton
            class="p-button-rounded p-button-info items-sort-badge"
            type="button"
            icon="pi pi-sort-alt"
            (click)="showSortOverlay = !showSortOverlay">
    </button>
    <ng-container *ngIf="showOverlay" [ngTemplateOutlet]="overlay"></ng-container>
    <p-badge class="items-queue-badge"
             (click)="onBadgeMouseClick()"
             (mouseenter)="onBadgeMouseEnter()"
             (mouseleave)="onBadgeMouseLeave()"
             *ngIf="todoItems.length > 0"
             [severity]="badgeColor"
             [size]="badgeSize"
             [value]="todoItems.length + ''"></p-badge>
  </section>
  <section *ngSwitchCase="plateMode.Off" class="off">
    <header>
      <h3>{{config.name}}</h3>
    </header>
    <p-tag [style]="{backgroundColor: 'black'}"
           [value]="i18n.PLATE.OFF"
           styleClass="mr-2"></p-tag>
  </section>
  <section *ngSwitchCase="plateMode.Form">
    <form (ngSubmit)="onSubmit()" [formGroup]="form!">
      <h3>{{i18n.PLATE.FORM.TITLE}}</h3>
      <label>{{i18n.PLATE.FORM.NAME}}</label>
      <input formControlName="name"
             pInputText
             type="text">
      <label>{{i18n.PLATE.FORM.COLOR}}</label>
      <p-colorPicker [inline]="true"
                     formControlName="color"></p-colorPicker>
      <label>{{i18n.PLATE.FORM.NUMBER}}</label>
      <p-inputNumber [max]="200"
                     [min]="0"
                     [showButtons]="true"
                     formControlName="number"></p-inputNumber>
      <div id="confirmForm">
        <button (click)="discardForm()"
                [label]="i18n.COMMON.UNDO"
                class="p-button-secondary" pButton pRipple
                type="button"></button>
        <button [disabled]="form?.valid ? !form?.valid : true"
                [label]="i18n.COMMON.SAVE"
                class="p-button-success" pButton pRipple
                type="submit"></button>
      </div>
    </form>
  </section>
</ng-container>
<ng-template #sortingOverlay>
  <div class="sort-overlay">
    <p-menu [model]="sortingOptions"></p-menu>
  </div>
</ng-template>
<ng-template #overlay>
  <items-overlay (onClose)="onBadgeMouseClick()"
                 (onRun)="onItemStart($event)"
                 (onActionEvent)="handleItemEvent($event)"
                 [items]="todoItems"
                 [enableActions]="!readonly"
                 [plateList]="plateList"
  ></items-overlay>
</ng-template>
