<ng-container [ngSwitch]="config.mode">
  <section *ngSwitchCase="plateMode.Skeleton" class="skeleton">
    <button (mouseenter)="onMouseEnter()"
            (mouseleave)="onMouseLeave()"
            (click)="loadForm()"
            id="add-plate">
      <i [class]="'pi ' + icon"></i>
    </button>
  </section>
  <section *ngSwitchCase="plateMode.On" class="on">
    <header [style.backgroundColor]="config.color!">
      <h3>{{config.name}}</h3>
    </header>
    <p-tag [severity]="config._severity!"
           [value]="config._status!"
           styleClass="mr-2"></p-tag>
    <span *ngIf="config._severity !== 'danger'" id="empty-container">
      <h3>{{i18n.PLATE.EMPTY}}</h3>
      <i class="pi pi-inbox" id="empty"></i>
    </span>
  </section>
  <section *ngSwitchCase="plateMode.Off" class="off">
    <header>
      <h3>{{config.name}}</h3>
    </header>
    <p-tag [style]="{backgroundColor: 'black'}"
           [value]="i18n.PLATE.OFF"
           styleClass="mr-2"></p-tag>
  </section>
  <section *ngSwitchCase="plateMode.Form">
    <form (ngSubmit)="onSubmit()" [formGroup]="form!">
      <h3>{{i18n.PLATE.FORM.TITLE}}</h3>
      <label>{{i18n.PLATE.FORM.NAME}}</label>
      <input formControlName="name"
             pInputText
             type="text">
      <label>{{i18n.PLATE.FORM.COLOR}}</label>
      <p-colorPicker [inline]="true"
                     formControlName="color"></p-colorPicker>
      <label>{{i18n.PLATE.FORM.NUMBER}}</label>
      <p-inputNumber [max]="200"
                     [min]="0"
                     [showButtons]="true"
                     formControlName="number"></p-inputNumber>
      <div id="confirmForm">
        <button (click)="discardForm()"
                [label]="i18n.COMMON.UNDO"
                class="p-button-secondary" pButton pRipple
                type="button"></button>
        <button [disabled]="form?.valid ? !form?.valid : true"
                [label]="i18n.COMMON.SAVE"
                class="p-button-success" pButton pRipple
                type="submit"></button>
      </div>
    </form>
  </section>
</ng-container>
