@import "~primeng/resources/themes/lara-light-indigo/theme.css";
@import 'mixins';

section {
  height: 100%;

  margin: 10px;
  position: relative;

  user-select: none;

  header {
    position: fixed;
    top: 0;

    @include info-plate;

    .expand-button {
      position: absolute;
      right: 5px;
      top: 20px;

      border: none;
      background: none;

      cursor: pointer;

      i {
        font-size: 25px;
      }
    }
  }

  #add-plate {
    height: 30%;
    width: 30%;

    @include grey-glass;

    transition: width 0.5s, height 0.5s;

    i {
      font-size: 30px;
      color: white;
      font-weight: bold;

      transition: font-size 0.5s, height 0.5s, transform .7s ease-in-out;
    }

    &:hover {
      height: 40%;
      width: 40%;

      cursor: pointer;

      i {
        font-size: 50px;
        transform: rotate(360deg);
      }
    }
  }

  p-tag {
    position: fixed;
    right: 50px;
    top: 20px;

    text-transform: uppercase;
  }

  p-badge {
    position: absolute;
    right: -10px;
    bottom: -10px;

    &:hover {
      cursor: pointer;
    }
  }

  items-overlay {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
  }
}

.off {
  @include black-glass;

  header {
    opacity: 0.5;
  }
}

.on {
  @include grey-glass;

  #empty-container {

    height: 100%;

    @include center-flex;
    flex-direction: column;

    h3 {
      text-transform: uppercase;
      word-spacing: 10px;
    }

    i#empty {
      font-size: 100px;
    }
  }
}

.item-list_container {
  height: 90%;
  width: 100%;

  position: fixed;
  bottom: 0;
  top: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;

  overflow-y: auto;
  overflow-x: hidden;

  item {
    flex: 1 0 calc(1% * var(--items-chunk));
    max-height: 20%;

    margin: 10px
  }
}

.skeleton {
  @include light-grey-glass;

  @include center-flex;
}

form {
  height: 100%;

  @include light-grey-glass;

  @include center-flex;
  flex-direction: column;

  * {
    margin: auto;
  }

  input[type],
  span {
    width: 90%;
  }

  p-colorPicker {
    ::ng-deep .p-colorpicker-panel {
      background: rgba(120, 120, 120, 0.2);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

      border: none;
    }
  }

  #confirmForm {
    width: 100%;

    display: inline-flex;
    justify-content: space-between;
  }
}
