section {
  height: 100%;

  margin: 10px;

  // glass plate effect
  background: rgba(96, 96, 96, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(96, 96, 96, 1);
}
