@import 'mixins';

h3 {
  @include title-center;
}

.menu-item-choice {
  width: 60%;
}

.menu-item-card {
  ::ng-deep .p-card {
    :hover {
      cursor: pointer;
    }
  }
}

.menu-item-selection {
  ::ng-deep .p-card {
    background-color: blue;
    color: white;
  }
}

.plate-badge {
  @include badge;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.category-badge {
  @include badge;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  border: 2px solid;
}
