<section>
  <p-table [value]="items!" dataKey="id" [scrollable]="true" editMode="row">
    <ng-template pTemplate="header">
      <tr>
        <th [style]="{'width':'50%'}">Nome</th>
        <th>Descrizione</th>
        <th>Id esterno (GSG)</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="item">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.name">
            </ng-template>
            <ng-template pTemplate="output">
              {{item.name}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.description">
            </ng-template>
            <ng-template pTemplate="output">
              {{item.description}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="number" [(ngModel)]="item.externalId">
            </ng-template>
            <ng-template pTemplate="output">
              {{item.externalId}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="display: flex; justify-content: flex-end; align-items: center;">
          <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                  (click)="onRowEditInit(item)" class="p-button-rounded p-button-text"></button>
          <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-trash"
                  (click)="delete.emit(item)" class="p-button-rounded p-button-text p-button-danger"></button>
          <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                  (click)="onRowEditSave(item)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
          <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                  (click)="onRowEditCancel(item, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div id="item-list__empty" *ngIf="items?.length == 0">
    <i class="pi pi-book"></i>
    <p>Nessun prodotto Inserito in <span>{{categoryName}}</span></p>
  </div>
</section>
